/*	sigchat.css
	~Bitcrush
*/

a:link
{
	color: #FFFFFF;
	text-decoration: none;
}

a:active
{
	color: #FFFFFF;
	text-decoration: none;
}

a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

a:hover
{
	background-color: #777777;
	color: #FFFFFF;
	text-decoration: none;
}

#chat_tab
{
	background-color: #4d6ac1;
	font-size: 12pt;
	font-family: 'Courier New';
	font-weight: bold;
	color: #FFFFFF
}

#stream_tab
{
	background-color: #4d6ac1;
	font-size: 12pt;
	font-family: 'Courier New';
	font-weight: bold;
	color: #FFFFFF
}

#link:hover
{
	background-color: #777777;
}

#link
{
	height: 40px;
}

#link_table
{
	font-family: 'Courier New';
	font-size: 12pt;
	width: 1260px;
	background-color: #555555;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#chat_embed
{
	width: 310px;
	height: 387px;
}

#live_embed_player_flash
{
	width: 640px;
	height: 387px;
	background-color: #000000;
}

div#divider
{
	width: 1260px;
	height: 25px;
	background-image: url('images/divider.png');
}
div#footer
{
	width: 1260px;
	height: 42px;
	background-image: url('images/footer.png');
	color: #FFFFFF;
	font-family: Courier;
	font-size: 12px;
}

.ui-resizable-helper
{
	border: 1px dotted gray;
}

.resizable
{
	display: block;
	width: 1340px;
	height: 300px;
	padding: 0px;
	border: 1px solid gray;
	overflow: hidden;
	position: relative;
}